altgraph==0.17.3
cycler==0.11.0
flake8==5.0.4
fonttools==4.38.0
importlib-metadata==4.2.0
kiwisolver==1.4.4
macholib==1.16.2
matplotlib==3.5.3
mccabe==0.7.0
modulegraph==0.19.3
mpmath==1.2.1
numexpr==2.8.4
numpy==1.21.6
packaging==23.0
Pillow==9.4.0
pyinstaller==5.7.0
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
sympy==1.10.1
tk==0.1.0
typing_extensions==4.4.0
zipp==3.11.0
